/* src/components/AdminGame.css */

.admin-game {
  background-color: #f0f8ff; /* svijetla pozadina */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

.game-code, .player-list, .lessons-menu {
  margin: 15px 0;
  width: 100%; /* kako bi zauzeli cijeli prostor */
}

h2 {
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff; /* plava boja gumba */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3; /* tamnija plava kada se pređe mišem */
}

.player-list {
  border: 1px solid #ccc; /* okvir za popis igrača */
  padding: 10px;
  border-radius: 5px;
  width: 300px; /* širina za popis igrača */
}

.lessons-menu select {
  margin: 5px 0;
  padding: 10px;
  width: 300px; /* širina za select */
}
